<!DOCTYPE HTML>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes du patient</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <h5>Notes du patient</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td th:text="${note.content}"></td>
            </tr>
            </tbody>
        </table>
        <p><a th:href="@{/app/dashboard/{id}/notes/ajout(id=${patientId})}">✚ Ajouter une note</a></p>
        <p><a th:href="@{/app/dashboard/{id}(id=${patientId})}">Retour à la fiche patient</a></p>
        <p><a th:href="@{/app/dashboard}">Retout à la liste des patients</a></p>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>